import("MALDIquant")
importFrom("robustbase","Qn","covMcd","adjboxStats")
importFrom("signal","sgolayfilt")
importFrom("lattice","xyplot","histogram","panel.xyplot","panel.abline","ltext","panel.histogram")
importFrom("stats", "IQR", "cmdscale", "mad", "mahalanobis", "median",
             "pchisq", "qchisq", "quantile", "sd")
importFrom("utils", "head", "read.csv", "write.table")
importFrom("graphics", "axis", "box", "image", "layout", "mtext","par")
S3method(summary,scSpectra)
S3method(plot,scSpectra)
exportPattern("^[^\\.]")